[submodule "libs/Crow"]
	path = libs/Crow
	url = https://github.com/CrowCpp/Crow
[submodule "libs/sqlite_modern_cpp"]
	path = libs/sqlite_modern_cpp
	url = https://github.com/SqliteModernCpp/sqlite_modern_cpp
[submodule "libs/jwt-cpp"]
	path = libs/jwt-cpp
	url = https://github.com/jwt-cpp
[submodule "libs/libbcrypt"]
	path = libs/libbcrypt
	url = https://github.com/trusch/libbcrypt
